
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  background-color: #f0f0f0;
  font-family: "Montserrat", sans-serif;
}
::-webkit-scrollbar-thumb {
  background-color: #3d3b3e;
}
::-webkit-scrollbar {
  background: white;
}
#bd .navbar {
  color: white;
  font-family: MBCorpo Title, sans-serif;
  padding: 1rem;
  position: absolute;
  width: 100%;
}
#bd .nav-cont {
  flex-wrap: nowrap;
}
#bd .nav-cont > * {
  flex: 1;
  display: flex;
  align-items: center;
}
#bd .navbar-nav {
  flex-direction: row;
  color: white;
  gap: 2rem;
  margin: 0;
}
#bd .navbar-nav a {
  margin: 0;
  color: #000000d4;
  font-size: 1.2rem;
  cursor: pointer;
}
#bd .navbar-nav a:hover {
  color: #000000;
}
.logo {
  width: 135px;
}
.logo:nth-child(2) {
  position: absolute;
  width: 29px;
  top: 38px;
  left: 56.5px;
}
.logo2 {
  animation: rotating 5s linear infinite;
  -webkit-animation: rotating 5s linear infinite;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}
.nav-child3 {
  justify-content: flex-end;
  gap: 1.5rem;
  div {
    display: flex;
    gap: 4px;
    align-items: center;
    cursor: pointer;
  }
  i:nth-child(1) {
    font-size: 1.8rem;
    opacity: 0.9;
  }
  i:nth-child(2) {
    font-size: 1rem;
  }
}
.nav-child3 i {
  font-size: 1.7rem;
  color: #222a2f;
  cursor: pointer;
}
.front {
  height: 100vh;
  display: grid;
  grid-auto-flow: column;
  grid-template: 1fr / 0.8fr 0.5fr 1fr 1fr;
  align-items: center;
}
.front-child1 {
  padding-right: 2rem;
  grid-column: 1 / 3;
  grid-row: 1;
}
.front-child2 {
  grid-column: 2 / 5;
  grid-row: 1;
}

.front h1 {
  margin-left: 27px;
  font-family: "Prosto One", sans-serif;
  font-size: 3.6rem;
  left: 0;
  margin-bottom: 2rem;
  z-index: 1;
  position: relative;
}
.back {
  position: absolute;
  width: 100%;
  z-index: -30;
  bottom: 0;
}
.car {
  width: 100%;
  mix-blend-mode: darken;
  z-index: -1;
  position: relative;
}
.order {
  border-width: 1px;
  border-style: solid;

  background-color: #222a2f;
}
.order a {
  color: white;
}
.view a {
  color: black;
}

.view {
  border-radius: 50em;
  border: 2px solid #222a2f;
}

.view,
.order {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin: 13px 1rem 0 1.8rem;
  max-width: 11rem;
  width: 100%;
  transition: 0.3s;
  padding: 0;
}
.view::before {
  border-radius: 50rem;
}
.order:hover {
  background-color: black;
  color: #ffffffd1;
}
.order a,
.view a {
  z-index: 10;
  margin: 0;
  font-weight: 600;
  text-decoration: none;
  width: 100%;
  height: 100%;
  margin: 10px;
}
.account:hover {
  color: black;
}
.view:hover {
  background-color: #222a2f;
}
.view:hover a {
  color: white;
}
.car2 {
  display: none;
}
#bd .nav-child2b {
  display: none;
}
.sign {
  display: flex;
  padding: 0 2rem;
  background-color: transparent;
  border-radius: 0.3rem;
  align-items: center;
  color: #d8ccccfc;
  font-size: 1.3rem;
  margin-top: 1rem;
  transition: all 0.3s;
  border-right: 3px solid;
  border-top: 1px solid;
  border-bottom: 3px solid;
  border-left: 1px solid;
}
.sign:hover {
  color: white;
}
@media screen and (max-width: 1284px) {
  .front-child1 {
    margin-top: 1rem;
  }
  .front h1 {
    font-size: 3rem;
    margin-bottom: 0;
  }
  .view,
  .order {
    margin: 30px 0 10px 1.8rem;
    max-width: 10rem;
  }
  @media screen and (max-width: 1160px) {
    .view,
    .order {
      max-width: 9rem;
    }
    @media screen and (max-width: 1040px) {
      .order {
        margin: auto;
      }
      .car1 {
        display: none;
      }
      .car2 {
        display: inline-block;
      }
      .front {
        grid-template: 1.3fr 1fr 1fr 1fr 0.5fr / 1fr;
        text-align: center;
      }
      .front h1 {
        font-size: 3.3rem;
        margin: 0 1.6rem;
      }
      .front-child1 {
        padding: 0;
        grid-row: 4 / 5;
        margin-top: 0;
      }
      .front-child2 {
        grid-row: 2 / 4;
        grid-column: inherit;
      }
      .view,
      .order {
        max-width: 13rem;
        margin-top: 35px;
      }
      #bd .account {
        display: none;
      }
      #bd .nav-child2b {
        display: inline-block;
      }
      #bd .nav-child2a {
        display: none;
      }
      .icon-1,
      .icon-2,
      .icon-3 {
        width: 32px;
        height: 3px;
        background-color: black;
        transition: all 400ms ease;
      }

      .icon-1 {
        animation-delay: 100ms;
      }

      .icon-3 {
        animation-delay: 250ms;
      }

      .hamburger-icon {
        padding-right: 2px;
        transform: scale(0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 4px;

        position: absolute;
        height: 44px;
        width: 60px;
        top: 1.4rem;
        right: 1rem;
        z-index: 1000;
        cursor: pointer;
        border-radius: 5px;
        transition: all 0.2s ease-in-out;
        background: rgb(255 255 255 / 43%);
        &:hover {
          transform: scale(1);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
        }
      }

      .icon-1.a {
        transform: rotate(40deg);
        position: relative;
        top: 3px;
        width: 37px;
      }
      #bd .icon-3.b {
        transform: rotate(-40deg);
        position: relative;
        bottom: 2px;
        width: 37px;
      }
      .icon-2.c {
        opacity: 0;
      }

      .clear {
        clear: both;
      }

      @keyframes slideIn {
        0% {
          width: 0%;
          opacity: 0;
        }

        100% {
          width: 50%;
          opacity: 1;
        }
      }

      #nav {
        overflow-x: hidden;
        background-color: #222a2f;
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        width: 0%;
        z-index: 10;
        opacity: 0;
        transition: all 600ms cubic-bezier(0.62, 0.04, 0.3, 1.56);
        transition-delay: 100ms;
        .ul {
          margin: 0;
          position: absolute;
          top: 30%;
          left: 7vw;
          padding: 0;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          .li {
            list-style: none;
            font-size: 24px;
            color: #fff;
            line-height: 2.2;
            text-transform: uppercase;
            letter-spacing: 1.7px;
            cursor: pointer;
            &:before {
            }
          }
        }
      }
      .li a {
        text-decoration: none;
        color: #d8ccccfc;
      }
      .nav-child3 i {
        color: #d8ccccfc;
        font-size: 2rem;
        margin-top: 1rem;
      }
      .li1,
      .li2,
      .li3,
      .li4,
      .li5 {
        font-size: 1.3rem !important;
      }
      .li1::before,
      .li2::before,
      .li3::before,
      .li4::before,
      .li5::before {
        content: "";
        background-color: #d8ccccfc;
        position: absolute;
        bottom: 8px;
        left: 0;
        transform: scalex(0);
        transition: transform 0.3s;
        transform-origin: bottom right;
        height: 2px;
      }
      .li1::before {
        width: 40%;
      }
      .li2::before {
        width: 67%;
      }
      .li3::before {
        width: 45%;
      }
      .li4::before {
        width: 100%;
      }
      .li5::before {
        width: 64%;
      }
      .li1,
      .li2,
      .li3,
      .li4,
      .li5 {
        transition: 0.5s ease;
        position: relative;
      }

      .li:hover::before {
        transform: scaleX(1);
        transform-origin: bottom left;
      }

      #nav.show {
        width: 53%;
        opacity: 1;
      }

      .gap {
        gap: 0;
      }

      .front h1 {
        font-size: 3rem;
      }
      @media screen and (max-width: 700px) {
        .nav-child3 button {
          display: none;
        }
        .back {
          display: none;
        }
        .back2 {
          display: none;
        }
        .front {
          grid-template: 2fr 1fr 1fr 1fr 1fr / 1fr;
        }
        @media screen and (min-width: 480px) {
          #bd .choose-us-cont {
            margin-top: 28rem;
          }
        }

        @media screen and (max-width: 560px) {
          .view,
          .order {
            max-width: 11rem;
          }
          @media screen and (max-width: 545px) {
            .front h1 {
              margin: 0 1rem;
              font-size: 2.5rem;
            }
            @media screen and (max-width: 410px) {
              #nav.show {
                width: 70%;
              }
              .front {
                grid-template: 0.5fr 1fr 1fr 1fr 1fr / 1fr;
              }
              .front-child1 {
                margin-top: -5rem;
              }
              .order {
                margin: 1rem auto;
                max-width: 9rem;
              }
              .view {
                margin: 1rem auto 1rem 1rem;
                max-width: 9rem;
              }
              @media screen and (max-width: 359px) {
                .order {
                  font-size: 14px;
                  max-width: 8rem;
                }
                .view {
                  margin-left: 10px;
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
}
